/* styling for the body */
html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  /* padding-top: 40px; */
  padding-bottom: 40px;
  background-color: #E3EFFD;
  flex-direction: column;
}

/* .blog-header {
  line-height: 1;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
} */

/* styling for the meplant header */
.meplant-header-logo {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 2rem;
  font-family: 'Gluten', cursive;
}

/* styling for the material icons */
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* sytling for the mePlant original logo */
.mePlantBkLogo {
  padding-top: 2%;
  padding-left: 8%;
  width: 90%;
  z-index: 10;
  opacity: 25%;
}

.parallax {
  border: black solid 1px;
  /* The image used */
  background-image: url("../image/leaf1.jpg");
  /* Set a specific height */
  /* min-height: 100%; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 20px;
  width: 65%;
}

/* media queries for mobile resonsiveness start */
@media (max-width: 8000px) and (min-width: 4001px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 80px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 40px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 4000px) and (min-width: 2001px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 70px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 2000px) and (min-width: 1400px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 60px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 270px;
  }
  .card {
    width: 40%;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 50px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 200px;
  }
  .card {
    width: 50%;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  #goHome {
    width: 125px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 50px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 170px;
  }
  .card {
    width: 60%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  #goHome {
    width: 100px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 25%;
    font-size: 40px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 768px) and (min-width: 540px) {
  #goHome {
    width: 90px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 40px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 30px;
  }
  .comment {
    width: 260px;
  }
}

@media (max-width: 539px) and (min-width: 370px) {
  #goHome {
    width: 80px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 10%;
    font-size: 30px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 25px;
  }
  .comment {
    width: 150px;
  }
}

@media (max-width: 369px) and (min-width: 237px) {
  #goHome {
    width: 70px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 10%;
    font-size: 30px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 20px;
  }
  .comment {
    width: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 30%;
  }
}
/* sytling for media queries end */

/* styling for parallax */
.parallax {
  /* The image used */
  background-image: url("../image/leaf1.jpg");
  /* Set a specific height */
  /* min-height: 100%; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}