/* styling for body */

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #def4c6;
}

/* sytling for the blog header */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

/* styling for original logo */

.meplant-header-logo {
  padding-top: 8%;
  padding-left: 8%;
  font-size: 2rem;
  font-family: 'Gluten', cursive;
}

/* styling for material icons (buttons) */

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.postChar {
  display: flex;
  justify-content: flex-end;
}

#charLeftCounter {
  margin-left: 10px;
}

/* styling for media queries start */

@media (max-width: 8000px) and (min-width: 4001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 125px;
  }
}

@media (max-width: 4000px) and (min-width: 2001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 125px;
  }
}

@media (max-width: 2000px) and (min-width: 1400px) {
  #goHome {
    width: 200px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 100px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 100px;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #goHome {
    width: 150px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 90px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 80px;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  #goHome {
    width: 140px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 6%;
    padding-left: 5%;
    font-size: 80px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 70px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  #goHome {
    width: 125px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 3%;
    padding-left: 5%;
    font-size: 70px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 60px;
  }
}

@media (max-width: 768px) and (min-width: 540px) {
  #goHome {
    width: 90px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 50px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 40px;
  }
}

@media (max-width: 539px) and (min-width: 370px) {
  #goHome {
    width: 80px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 5%;
    font-size: 35px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 30px;
  }
}

@media (max-width: 369px) and (min-width: 237px) {
  #goHome {
    width: 70px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 25px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 15px;
  }
}

@media (max-width: 236px) and (min-width: 136px) {
  #goHome {
    width: 60px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 20px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 10px;
  }
}

/* styling for media queries start */

/* styling for the post characters and character left counter in text area */
.postChar {
  display: flex;
  justify-content: flex-end;
}

#charLeftCounter {
  margin-left: 10px;
}