/* styling for body */

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  /* padding-top: 40px; */
  padding-bottom: 40px;
  background-color: #E3EFFD;
  flex-direction: column;
}

/* .blog-header {
  line-height: 1;
  border-bottom: 1px solid black;
} */

.addBtn {
  background-color: #EFFDE2;
}

.wtrAllBtn {
  background-color: #A2CBF9;
}

.meplant-header-logo {
  padding-top: 5%;
  padding-left: 8%;
  font-size: 25px;
  font-family: 'Gluten', cursive;
}

/* styling for material icons */

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.higher-z-index {
  position: relative;
  z-index: 10000000;
}

.mePlantBkLogo {
  padding-top: 2%;
  padding-left: 8%;
  width: 90%;
  z-index: 10;
  opacity: 25%;
}

/* styling for card */

.card {
  margin: 0 auto;
  float: none;
  margin-top: 20px;
  width: 65%;
}

.parallax {
  border: black solid 1px;
  /* The image used */
  background-image: url("../image/postParralax.jpg");
  /* Set a specific height */
  /* min-height: 500px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  border-radius: 25px;
  /*Theimageused*/
  background-image: url("../image/postParralax.jpg");
  /*Setaspecificheight*/
  /*min-height: 500px;
  */
  /*Createtheparallaxscrollingeffect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 40%;
  }
}

#goHome {
  width: 250px;
  height: inherit;
}

/* .meplant-header-logo {
  padding-bottom: 2%;
  padding-left: 5%;
  font-size: 100px;
} */

.navBtn {
  padding-right: 10%;
  font-size: 125px;
}

@media (max-width: 8000px) and (min-width: 4001px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 80px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 40px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 4000px) and (min-width: 2001px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 70px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 2000px) and (min-width: 1400px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 60px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 270px;
  }
  .card {
    width: 40%;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #goHome {
    width: 130px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 50px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 200px;
  }
  .card {
    width: 50%;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  #goHome {
    width: 125px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 50px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 170px;
  }
  .card {
    width: 60%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  #goHome {
    width: 100px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 15%;
    font-size: 40px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 35px;
  }
  .comment {
    width: 420px;
  }
}

@media (max-width: 768px) and (min-width: 540px) {
  #goHome {
    width: 90px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 10%;
    font-size: 40px;
  }
  .navBtn {
    padding-right: 10%;
    font-size: 30px;
  }
  .comment {
    width: 260px;
  }
}

@media (max-width: 539px) and (min-width: 370px) {
  #goHome {
    width: 80px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 10%;
    font-size: 30px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 25px;
  }
  .comment {
    width: 150px;
  }
}

@media (max-width: 369px) and (min-width: 237px) {
  #goHome {
    width: 70px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-left: 10%;
    font-size: 30px;
  }
  .navBtn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 20px;
  }
  .comment {
    width: 100px;
  }
}

/* styling for parallax */

/* styling for the second parallax */


.parallax3 {
  border-radius: 20px;
  /*Theimageused*/
  background-image: url("../image/User\ background\ 2.jpg");
  /*Setaspecificheight*/
  /*min-height: 500px;
  */
  /*Createtheparallaxscrollingeffect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.plantCard {
  background-color: #E3EFFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scheduleWater {
  background-color: #FDE8E2;
}