html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #def4c6;
}

text-center {
  text-align: center !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* .form-signin,
.form-floating focus-within {
  z-index: 2;
} */

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#register {
  margin-top: 20px;
  margin-bottom: 20px;
}

.headFont {
  font-family: 'Gluten', cursive;
}

@media (max-width: 8000px) and (min-width: 4001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .btn {
    padding-right: 10%;
    font-size: 125px;
  }
}

@media (max-width: 4000px) and (min-width: 2001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .btn {
    padding-right: 10%;
    font-size: 125px;
  }
}