/* styling for body */
html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #def4c6;
}

text-center {
  text-align: center !important;
}

/* styling for the form to sign in */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* .form-signin,
.form-floating focus-within {
  z-index: 2;
} */

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* styling for register button */
#register {
  margin-top: 20px;
  margin-bottom: 20px;
}

.headFont {
  font-family: 'Gluten', cursive;
}

/* media queries */
@media (max-width: 8000px) and (min-width: 4001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .btn {
    padding-right: 10%;
    font-size: 125px;
  }
}

@media (max-width: 4000px) and (min-width: 2001px) {
  #goHome {
    width: 250px;
    height: inherit;
  }
  .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 110px;
  }
  .btn {
    padding-right: 10%;
    font-size: 125px;
  }
}

@media (max-width: 2000px) and (min-width: 1400px) {
  #goHome {
    width: 200px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 100px;
  } */
  .btn {
    padding-right: 10%;
    font-size: 100px;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #goHome {
    width: 150px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 90px;
  } */
  .btn {
    padding-right: 10%;
    font-size: 80px;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  #goHome {
    width: 140px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 80px;
  } */
  .btn {
    padding-right: 10%;
    font-size: 70px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  #goHome {
    width: 125px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 70px;
  } */
  .btn {
    padding-right: 10%;
    font-size: 60px;
  }
}

@media (max-width: 768px) and (min-width: 540px) {
  #goHome {
    width: 90px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-bottom: 0%;
    padding-left: 5%;
    font-size: 50px;
  } */
  .btn {
    padding-right: 10%;
    font-size: 40px;
  }
}

@media (max-width: 539px) and (min-width: 370px) {
  #goHome {
    width: 80px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-left: 5%;
    font-size: 35px;
  } */
  .btn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 30px;
  }
}

@media (max-width: 369px) and (min-width: 237px) {
  #goHome {
    width: 70px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-top: 8%;
    padding-left: 15%;
    font-size: 25px;
  } */
  .btn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 15px;
  }
}

@media (max-width: 236px) and (min-width: 136px) {
  #goHome {
    width: 50px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-top: 10%;
    padding-left: 15%;
    font-size: 15px;
  } */
  .btn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 8px;
  }
}

@media (max-width: 135px) and (min-width: 5px) {
  #goHome {
    width: 30px;
    height: inherit;
  }
  /* .meplant-header-logo {
    padding-top: 15%;
    padding-left: 15%;
    font-size: 10px;
  } */
  .btn {
    padding-right: 20%;
    padding-left: 5%;
    font-size: 5px;
  }
}