html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #def4c6;
  flex-direction: column;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid black;
}

button {
  background-color: #48BF84;
}

.lavender {
  background-color: #E0BAD7;
}

.meplant-header-logo {
  font-size: 25px;
  padding-right: 13%;
  padding-top: 5%;
  font-family: 'Gluten', cursive;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.lavender {
  background-color: #E0BAD7;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 20px;
  width: 75%;
}


@media only screen and (min-width: 1000px) {
  .card {
    width: 30%;
  }
}

.parallax {
  /* The image used */
  background-image: url("../image/leaf1.jpg");
  /* Set a specific height */
  /* min-height: 100%; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}